.home-section {
    position: relative;
    min-height: 100vh;
    margin: 7em 0;    
}

.home-section .header_search {
    /* display: flex;
    align-items: center; */
    padding: 1em 0;    
    position: relative;
    max-width: 100% !important;
    width: 100%;
}

.home-section .form-control {
    min-height: 48px;
}

.home-section #header-search-form {
    position: relative !important;    
}

.home-section #header-search-form,
.home-section #header-search-form .form-control {
    width: 100% !important;
}

.home-section #categoryForm {
    width: 40% !important;
    margin-left: 5px;
    position: absolute;
    right: 3em;
    top: 0;
    z-index: 1;
    padding: 0 .5em !important;
    border-left: 1.5px solid rgba(0,0,0,.125);
    border-right: 1.5px solid rgba(0,0,0,.125);
}

.home-section #categoryFrom .form-control {
    background-color: transparent;
    border-left: 1px solid rgba(0,0,0,.125);
}


