.home-section {
    position: relative;
    min-height: 100vh;
    margin: 7em 0;    
}

.home-section .header_search {
    /* display: flex;
    align-items: center; */
    padding: 1em 0;    
    position: relative;
    max-width: 100% !important;
    width: 100%;
}

.home-section .form-control {
    min-height: 48px;
}

.home-section #header-search-form {
    position: relative !important;    
}

.home-section #header-search-form,
.home-section #header-search-form .form-control {
    width: 100% !important;
}

.home-section #categoryForm {
    width: 40% !important;
    margin-left: 5px;
    position: absolute;
    right: 3em;
    top: 0;
    z-index: 1;
    padding: 0 .5em !important;
    border-left: 1.5px solid rgba(0,0,0,.125);
    border-right: 1.5px solid rgba(0,0,0,.125);
}

.home-section #categoryFrom .form-control {
    background-color: transparent;
    border-left: 1px solid rgba(0,0,0,.125);
}

.home-item-grid {
    margin-top: 2em;
    display: grid;
    grid-template-areas: 'item';
    min-width: 0 !important;
    gap: 1em;
}

.home-item-grid .card-image-padding {
    padding: 0 .8em;
}

.home-item-grid .card{
    border: 2px solid #000;
    z-index: 1;        
    padding: .8em 0 !important;
    display: flex;
    flex-flow: column;
}

.home-item-grid .card:hover {
    cursor: pointer;
    opacity: .8;
    transition: all 300ms ease-out;
}

.home-item-grid .card img {         
    object-fit: contain !important;
    margin-bottom: auto;    
    width: 100%;
}

.home-item-grid .card-body {
    margin-top: .8em;
    border-top: 2px solid #000000;
    padding: 1em;    
}

.card-description-label {
    font-size: 1.5rem;
    font-weight: bold !important;
    margin: 0 !important;
    margin-right: auto !important;
    margin-bottom: .6em !important;
}

.home-item-grid .card-text {
    margin-top: 1em;    
    line-height: 1.2;    
}

.card-description-text,
.home-item-grid .card-text {
    opacity: .75;
}

.home-item-grid .card-item-description {
    margin: auto 0;
}

.home-item-grid .card-footer {        
    display: flex;
    align-items: center;    
    justify-content: space-evenly;   
    background-color: #f0f0f1; 
    padding: 1em 0;
    margin: auto 1em 0 1em;
}

@media screen and (min-width: 768px) {
    .home-item-grid {
        grid-template-areas: 'item item';
    }

    .home-item-grid .card img {
        height: 200px !important;
    }

}

@media screen and (min-width: 1200px) {
    .home-item-grid {
        grid-template-areas: 'item item item';
    }
    
}
