:root {
    --primary-color: #e70448;
    --grey: #e9e9f0;
}

body {
    box-sizing: border-box !important;
}

.primary-btn {
    background-color: var(--primary-color) !important;
    border: none;
    color: #fff;    
    padding: .5em .65em;
}

.form-control {
    background-color: var(--grey) !important;
}